.full_width{
    width: 100%;
}

.add_lead_row{
    margin: 20px 0;
}

.action_button{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.primary_button{
    background-color: #1A73E8;
    color: white;
}

.danger_button{
    background-color: #dc3545;
    color: white;
}
